Source: analitza
Section: libs
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: José Manuel Santamaría Lema <panfaust@gmail.com>
Build-Depends: kde-sc-dev-latest (>= 4:4.8.4),
 cmake, debhelper (>= 7.3.16), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.8),
 libreadline-dev,
 pkg-config
Standards-Version: 3.9.3
Homepage: http://edu.kde.org/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/analitza.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/analitza.git

Package: calgebra
Architecture: any
Section: kde
Breaks: kalgebra-common (<< 4:4.8) 
Replaces: kalgebra-common (<< 4:4.8) 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: console interface for KAlgebra
 KAlgebra is an algebraic graphing calculator with support for 3D graphing and
 MathML markup language. This package contains the non graphical console
 interface for KAlgebra.
 .
 This package is part of the KDE education module.

Package: libanalitza-dev
Architecture: any
Section: libdevel
Conflicts: kalgebra-dev
Depends: ${misc:Depends}, libanalitza4abi1 (= ${binary:Version}),
 libanalitzagui4 (= ${binary:Version})
Description: development files for analitza
 Analitza is a library to parse and work with mathematical expresssions. This
 library is being used by KAlgebra and Cantor and may be used in other
 programs.
 .
 This package is part of the KDE education module.

Package: libanalitza4abi1
X-Debian-ABI: 1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kalgebra (<< 4:4.7.2)
Replaces: kalgebra (<< 4:4.7.2)
Description: library to  work with mathematical expressions
 This library is used by KAlgebra and may be used by other software to parse and
 work with mathematical expressions.
 .
 This package is part of the KDE education module.

Package: libanalitzagui4
X-Debian-ABI: 0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: kalgebra (<< 4:4.7.2)
Replaces: kalgebra (<< 4:4.7.2)
Description: library to  work with mathematical expressions - GUI routines
 This library is used by KAlgebra and may be used by other software to parse and
 work with mathematical expressions. This library provides the routines related
 to the graphical user interface.
 .
 This package is part of the KDE education module.

Package: libanalitza-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends},
 libanalitza4abi1 (= ${binary:Version}), libanalitzagui4 (= ${binary:Version})
Breaks: kdeedu-dbg (<< 4:4.6.80), kalgebra-dbg (<< 4:4.8)
Replaces: kdeedu-dbg (<< 4:4.6.80), kalgebra-dbg (<< 4:4.8)
Description: debugging symbols for the KDE education module
 This package contains debugging files used to investigate problems with
 binaries included in kalgebra.
 .
 This package is part of the KDE education module.
